@import "tailwindcss";

@theme {
	--color-primary: #5e9aff;
	--color-primary-dark: color-mix(in lab, var(--color-primary), black 35%);
	--color-primary-light: color-mix(in lab, var(--color-primary), white 50%);
}

@layer base {
	body {
		@apply bg-[#222] accent-primary;
	}

	#app button {
		@apply hover:cursor-pointer;
	}

	#app input,
	#app select {
		@apply border border-neutral-400 rounded p-1 bg-[#333] disabled:bg-[#3a3a3a] disabled:text-neutral-400 disabled:cursor-not-allowed;
	}

	#app select:has(option:checked):not(:has(option:checked[value=""])) {
		@apply bg-primary-dark;
	}

	#app option {
		@apply not-checked:bg-[#333] checked:bg-primary-dark;
	}

	#app a,
	#app button.link {
		@apply text-primary-light underline;
	}
}
